<!--users/:id/likesのパーシャル-->
<div class="row">
  <% shops.each do |shop| %>
  <aside class="col-sm-4 text-center mb-4 mt-4">
    <% if shop.shop_picture? %>
      <%= link_to (image_tag shop.shop_picture.url, :width => "125", :height => "125"), shop %>
    <% else %>
      <%= link_to (image_tag "default.png", :width => "125", :height => "125"), shop %>
    <% end %>
    <p class="ul_shop_name"><%= link_to shop.name, shop %></p>
  </aside>
  <div class="col-sm-8 mt-4 mb-4">
    <p class="ul_shop_address"><%= shop.address %></p>
    <div class="mt-5">
      <span class="ul_shop_open_hour">営業時間：<%= shop.open_hour %></span>
      <span class="ul_shop_holiday">定休日：<%= shop.holiday %></span>
    </div>
    <p class="mt-5"><%= link_to "このお店の詳細ページへ", shop %></p>
  </div>
  <% end %>
</div>