<h2>お店の一覧</h2>
<% @shops.each do |shop| %>
  <div>
    <%= link_to shop.user.name, user_path(shop.user) %> <span class="text-muted">posted at <%= shop.created_at %></span>
  </div>
  <div>
    <p>店名：<%= link_to shop.name, shop %></p>
    <p>写真：<%= shop.picture %></p>
    <p>住所：<%= shop.address %></p>
    <p>営業時間：<%= shop.open_hour %></p>
    <p>定休日：<%= shop.holiday %></p>
    <p>電話番号：<%= shop.tel %></p>
  </div>
<% end %>